html{
	text-transform: uppercase;
	letter-spacing: 0.1em;

}
body{
	text-align: center;
	/*background-image: url("../img/hatter.jpg");
	background-size: 100%;
	background-attachment: fixed;*/

}
#background {
	position: fixed;
	z-index: -2;
	left: 0;
	opacity: 0.5;
	height: 100%;
	width: 100%;

}
#kristofer {
	opacity: 0;
	position: fixed;
	margin: 0;
	padding: 0;
	color: #000;
	text-align: center;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}
#klipfel {
	opacity: 0;
	margin-left: 20px;
}
#meImg{
	opacity: 0;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	border: 3px solid black;
	position: fixed;
	margin: 0;
	padding: 0;
	color: #000;
	text-align: center;
	top: 45%;
	left: 50%;
}
#container{
	margin: 0 auto;
	padding: 20px;
	height: auto;
	width: 100%;
	position: relative;
	top:150px;
	border: 0px solid black;
	left: 50%;
	-webkit-transform: translate3d(-50%,0,0);
	transform: translate3d(-50%,0,0);

}
#navigation {
	position: fixed;
	width: 100%;
	border: 0px solid black;
	
	left: 50%;
	-webkit-transform: translate3d(-50%,0,0);
	transform: translate3d(-50%,0,0);
}
#navigation nav	{
	display: inline-block;
	width: 200px;
	margin-top: 10px;
	margin-bottom: 10px;
	opacity: 0;
	font-weight: 500;
	font-size: 1em;

}
#pageContent {
	position: relative;
	margin-top: 100px;
	opacity: 0;
	margin: auto;
	/*border: 1px solid black;*/
	max-width: 945px;
	text-align: left;
	height: auto;
	padding-left: 20px;
	padding-right: 20px;
	
	
}
#aboutText {
	text-transform: none;
	font-size: 1.4em;
	letter-spacing: 1px;
	color: #555;
	line-height: 1.6em;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 50px;
}
#who {
	opacity: 0;
	margin: 0 auto;
	border-radius: 5%;
	border-bottom: 2px solid black;
	font-size: 2.5em;
	color: #000;
	text-align: left;
	margin-top: 75px;
	max-width: 945px;

}
#whoFocus{
	font-size: 1.5em;
	color: #000;
	line-height: 1.7em;
}
#whoSecondary{
	
}
.icons{
	margin-left: 34px;
	margin-right: 34px;
	text-align: center;
	color: #000;
	margin-bottom: 40px;
	margin-top: 30px;
}

@media (max-width: 950px) {
	@keyframes example {
	    0%   {margin-left: 220px}
	    100% {margin-left: 20px}
}
  #meImg {
    display: none;
  }
  #klipfel{
  	animation-name: example;
  	animation-duration: 1s;
  	margin-left: 20px !important;
  }
}
