html, body {
  background-color: #000;
  padding: 0;
  margin: 0 auto;
   font-family: "Tall Films";
   color: #fff;
}
.name {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 7em;
  font-family: "Tall Films";
  color: #fff;
  display: inline-block;
}
hr{
  opacity: 0.5;
  color: #fff;
  margin-top: 0px;
  margin-bottom: 0px;
}
#hr1  {
  transform: rotate(4deg);
}
#hr2  {
  transform: rotate(6deg);
}
#hr3  {
  transform: rotate(4deg);
}
#hr4  {
  transform: rotate(2deg);
}
#hr5  {
  transform: rotate(0deg);
}
#hr6  {
  transform: rotate(-1deg);
}
#hr7  {
  transform: rotate(-2deg);
}
#hr8  {
  transform: rotate(-3deg);
}
#last-name{
}
#pin1 {
}
#who {
  margin-top: -800px;
  margin-left: -1000px;
  font-size: 7em;
  position: fixed;
}
#am {
  margin-top: -700px;
  margin-left: -1025px;
  font-size: 7em;
  position: fixed;
}
#i {
  margin-top: -600px;
  margin-left: -1050px;
  font-size: 7em;
  position: fixed;
}
#que {
  margin-top: -500px;
  margin-left: -1075px;
  font-size: 7em;
  position: fixed;
}
.me {
}
.title{
 text-align: center;
}
#gif {
  width: 900px;
  opacity: 0.1;
  left: 50%;
}
#pin3 {
  left: 28%;
  position: absolute;
  margin-top: 400px;
}
#pin4 {
  opacity: 0.02;
  position: absolute;
  left: 0%;
}
#scroll {
  text-align: center;
  display: inline-block;
}
#top {
  text-align: center;
  height: 200px;
  background-color: rgba(255,255,255,0.0);
}
#trigger1 {
  margin-top: 300px;
  width: auto;
  height: 3000px;
  background-color: transparent;
}
#trigger2{
  height: 3px;
  width: 5px;
  background-color: transparent;
}
#trigger3 {
  margin-left: 1000px;
   height: 3px;
  width: 1000px;
  background-color: transparent;
}
#trigger4 {
  margin-left: 1000px;
   height: 3px;
  width: 1000px;
  background-color: transparent;
}
#trigger5 {

  margin-left: 1000px;
  height: 3px;
  width: 1000px;
  background-color: transparent;
}
#arrows {
  position: absolute;
  left: 10%;
  top: 30%;
  float: left;
  background-color: rgba(255,255,255,0.0);
  display: inline-block;
}
#about {
  position: absolute;
  font-weight: bold;
  margin-left: -1500px;
  width: 90%;
  font-size: 2.8em;
}
.icons {
  margin-top: -1000px;
}
#student {
  margin-left: 40px;
  margin-top: 200px;
}
#wrench {
  margin-left: 50px;
  margin-top: 200px;
}
#code {
  margin-left: 50px;
  margin-top: 200px;
}
#brush {
  margin-left: 50px;
  margin-top: 200px;
}
#music {
  margin-left: 50px;
  margin-top: 200px;
}
#book {
  margin-left: 50px;
  margin-top: 200px;
}
.paragraph{
  margin-top: -15px;
}
#me-image {
  opacity: 0.8;
  margin-top: -100px;
  width: 300px;
  border-radius: 150px;
  border: 4px solid #fff;
}
#proj {
  opacity: 0;
  font-size: 40px;
  position: absolute;
  margin-top: -400px;
  display: inline-block;
  letter-spacing: 8px;
}
#contact {
  opacity: 0;
  font-size: 60px;
  position: absolute;
  margin-top: -400px;
  margin-left: 620px;
  display: inline-block;
  letter-spacing: 8px;
  z-index: -1;
}
#form {
  font-size: 30px;
  margin: 0 auto;
  margin-top: -140px;
}
#name-input{
  margin-left: 1300px;
}
#email-input{
  margin-left: -2500px;
}

#submit {
  background-color: #222;
  transform:scale(0,0);
}
input {
  padding-left: 5px;
  color: white;
  border-radius: 3px;
  margin-bottom: 30px;
  background-color: #000;
  border: 1px solid #999;
  width: 100%;
  height: 30px;
}
input:focus {
  border: 1px solid white;
  color: white;
}
#projects{
  text-align: center;
  width: 100%;
  position: absolute;
  margin-top: -300px;
}
#projects div{
  text-decoration: underline;
  font-size: 25px;
  letter-spacing: 5px;
  width: 33%;
}
.inline{
  display: inline-block;
}
.image {
  margin-left: 50px;
}
#trigger26 {
  height: 1px;
  background-color: transparent;
}
#trigger27 {
  height: 1px;
  background-color: transparent;
}
#trigger28 {
  height: 1px;
  background-color: transparent;
  margin-top: -300px;
}
.placeholder {
  width: 100%;
  height: 400px;
  opacity: 0;

}
#cad-img {
  width: 100%;
  margin-bottom: 150px;
  border: 2px solid #333;
}
#music-img {
  width: 100%;
  border: 2px solid #333;
}
#graph-img {
  width: 100%;
  margin-bottom: 200px;
  border: 2px solid #333;
}
#line1{

}
#line2{
}
#line3{

}
#line4{

}
#line5{
 
}
.in-line {
  display: inline-block;
}
.name-title{
  background-color: rgba(255,255,255,0.0);
  margin:0 auto;
  text-align: center;
  display: inline-block;
  height: 500px;
  
}
i {
  color: white;
}
.down {
  margin-top: -40px;
}
.element-animation1{
  animation: animationFrames linear 12s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: animationFrames linear 12s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: animationFrames linear 12s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: animationFrames linear 12s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: animationFrames linear 12s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
}
.element-animation2{
  animation: animationFrames linear 10s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: animationFrames linear 10s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: animationFrames linear 10s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: animationFrames linear 10s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: animationFrames linear 10s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
}
.element-animation3{
  animation: animationFrames linear 6s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: animationFrames linear 6s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: animationFrames linear 6s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: animationFrames linear 6s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: animationFrames linear 6s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
}
.element-animation4{
  animation: animationFrames linear 7s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: animationFrames linear 7s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: animationFrames linear 7s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: animationFrames linear 7s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: animationFrames linear 7s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
}
.element-animation5{
  animation: animationFrames linear 9s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: animationFrames linear 9s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: animationFrames linear 9s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: animationFrames linear 9s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: animationFrames linear 9s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
}
.element-animation6{
  animation: animationFrames linear 5s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: animationFrames linear 5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: animationFrames linear 5s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: animationFrames linear 5s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: animationFrames linear 5s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
}
.element-animation7{
  animation: animationFrames linear 7.5s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: animationFrames linear 7.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: animationFrames linear 7.5s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: animationFrames linear 7.5s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: animationFrames linear 7.5s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
}
.element-animation8{
  animation: animationFrames linear 9.5s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: animationFrames linear 9.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: animationFrames linear 9.5s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: animationFrames linear 9.5s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: animationFrames linear 9.5s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
}
.element-animation9{
  animation: animationFrames linear 10.5s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: animationFrames linear 10.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: animationFrames linear 10.5s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: animationFrames linear 10.5s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: animationFrames linear 10.5s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
}
.element-animation10{
  animation: animationFrames linear 8.3s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: animationFrames linear 8.3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: animationFrames linear 8.3s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: animationFrames linear 8.3s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: animationFrames linear 8.3s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
}
.element-animation11{
  animation: animationFrames linear 9.2s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: animationFrames linear 9.2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: animationFrames linear 9.2s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: animationFrames linear 9.2s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: animationFrames linear 9.2s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
}
.element-animation12{
  animation: animationFrames linear 8.6s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: animationFrames linear 8.6s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: animationFrames linear 8.6s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: animationFrames linear 8.6s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: animationFrames linear 8.6s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
}
.element-animation13{
  animation: animationFrames linear 7.7s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: animationFrames linear 7.7s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: animationFrames linear 7.7s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: animationFrames linear 7.7s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: animationFrames linear 7.7s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
}
.element-animation16{
  animation: animationFrames linear 5.6s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: animationFrames linear 5.6s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: animationFrames linear 5.6s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: animationFrames linear 5.6s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: animationFrames linear 5.6s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
}
.element-animation15{
  animation: animationFrames linear 11.7s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: animationFrames linear 11.7s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: animationFrames linear 11.7s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: animationFrames linear 11.7s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: animationFrames linear 11.7s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
}
.element-animation16{
  animation: animationFrames linear 7.2s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: animationFrames linear 7.2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: animationFrames linear 7.2s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: animationFrames linear 7.2s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: animationFrames linear 7.2s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
}

@keyframes animationFrames{
  0% {
    opacity:1;
  }
  12% {
    opacity:0.3;
  }
  25% {
    opacity:0.1;
  }
  31% {
    opacity:1;
  }
  310% {
    opacity:1;
  }
  62% {
    opacity:0;
  }
  65% {
    opacity:1;
  }
  69% {
    opacity:0.1;
  }
  52% {
    opacity:1;
  }
  67% {
    opacity:0.1;
  }
  106% {
    opacity:1;
  }
  92% {
    opacity:0;
  }
  100% {
    opacity:0.1;
  }
}

@-moz-keyframes animationFrames{
  0% {
    opacity:1;
  }
  12% {
    opacity:0.3;
  }
  25% {
    opacity:0.1;
  }
  31% {
    opacity:1;
  }
  310% {
    opacity:1;
  }
  62% {
    opacity:0;
  }
  65% {
    opacity:1;
  }
  69% {
    opacity:0.1;
  }
  52% {
    opacity:1;
  }
  67% {
    opacity:0.1;
  }
  106% {
    opacity:1;
  }
  92% {
    opacity:0;
  }
  100% {
    opacity:0.1;
  }
}

@-webkit-keyframes animationFrames {
  0% {
    opacity:1;
  }
  12% {
    opacity:0.3;
  }
  25% {
    opacity:0.1;
  }
  31% {
    opacity:1;
  }
  310% {
    opacity:1;
  }
  62% {
    opacity:0;
  }
  65% {
    opacity:1;
  }
  69% {
    opacity:0.1;
  }
  52% {
    opacity:1;
  }
  67% {
    opacity:0.1;
  }
  106% {
    opacity:1;
  }
  92% {
    opacity:0;
  }
  100% {
    opacity:0.1;
  }
}

@-o-keyframes animationFrames {
  0% {
    opacity:1;
  }
  12% {
    opacity:0.3;
  }
  25% {
    opacity:0.1;
  }
  31% {
    opacity:1;
  }
  310% {
    opacity:1;
  }
  62% {
    opacity:0;
  }
  65% {
    opacity:1;
  }
  69% {
    opacity:0.1;
  }
  52% {
    opacity:1;
  }
  67% {
    opacity:0.1;
  }
  106% {
    opacity:1;
  }
  92% {
    opacity:0;
  }
  100% {
    opacity:0.1;
  }
}

@-ms-keyframes animationFrames {
  0% {
    opacity:1;
  }
  12% {
    opacity:0.3;
  }
  25% {
    opacity:0.1;
  }
  31% {
    opacity:1;
  }
  310% {
    opacity:1;
  }
  62% {
    opacity:0;
  }
  65% {
    opacity:1;
  }
  69% {
    opacity:0.1;
  }
  52% {
    opacity:1;
  }
  67% {
    opacity:0.1;
  }
  106% {
    opacity:1;
  }
  92% {
    opacity:0;
  }
  100% {
    opacity:0.1;
  }
}
.animated { 
    -webkit-animation-duration: 2s; 
    animation-duration: 2s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    animation-iteration-count:infinite; 
    -webkit-animation-iteration-count:infinite; 
} 
.animated1 { 
  -webkit-animation-delay: .5s; /* Chrome, Safari, Opera */
    animation-delay: .5s;
    -webkit-animation-duration: 2s; 
    animation-duration: 2s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    animation-iteration-count:infinite; 
    -webkit-animation-iteration-count:infinite; 
} 
.animated2 { 
  -webkit-animation-delay: 1s; /* Chrome, Safari, Opera */
    animation-delay: 1s;
    -webkit-animation-duration: 2s; 
    animation-duration: 2s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    animation-iteration-count:infinite; 
    -webkit-animation-iteration-count:infinite; 
} 

@-webkit-keyframes fadeOutDown { 
    0% { 
        opacity: 1; 
        -webkit-transform: translateY(0); 
    } 
    100% { 
        opacity: 0.2; 
        -webkit-transform: translateY(20px); 
    } 
} 
@keyframes fadeOutDown { 
    0% { 
        opacity: 1; 
        transform: translateY(0); 
    } 
    100% { 
        opacity: 0.1; 
        transform: translateY(20px); 
    } 
} 
.fadeOutDown { 
    -webkit-animation-name: fadeOutDown; 
    animation-name: fadeOutDown; 
}